body {
  margin: 0;
  font-family: "Cournier New", Courier, monspace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011627;
  color: #FDFFFC;
}

button {
  cursor: pointer;
}
